

/* Navbar */

.navbar img{
    height: 4rem;
}

.navbar img:hover{
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    background: #cbcbcc;
    height: 10vh;
    top: 0;
    width: 100%;
}

.navbar{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

.navbar-links li{
    padding: 0 20px;
    margin: 0 40px;
}

.navbar-links a{
    color: #6d6d6d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-links a:hover{
    cursor: pointer;
    background-color: green;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar-buttons li{
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-buttons button{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Abel", sans-serif;
    font-weight: bold;
}

.navbar-buttons .logbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6d6d6d;
    border: 2px #6d6d6d solid;
    text-align: center;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 13px;
}

.navbar-buttons .logbtn:hover{
    cursor: pointer;
    filter: drop-shadow(0px 3px 5px #6b6b6b6b);   
}

.navbar-buttons .startbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6d6d6d;
    background-color: #83ff00;
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 16px;
}

.navbar-buttons .startbtn:hover{
    cursor: pointer;
    filter: drop-shadow(0px 4px 6px #6b6b6b6b);
}

/* historia */
.historia{
    display: grid;
    background-color: #798b9c;
    
}

.historia-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}


.historia-container h1{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.75em;
    padding: 60px 0 10px 0;
    text-transform: uppercase;
    color: var(--link-color);
}

.historia-container img{
    padding: 40px 0;
    max-width: 520px;
    border-radius: 6px;
}

.historia-container p{
    padding: 40px 0 0 20px;
    font-size: 1.25em;
    color: var(--body-color-p);
}

@media(max-width:1150px){
    .historia-container{
        max-width: 960px;
    }

    .historia-container img{
        max-width: 450px;
    }

    .historia-container p{
        padding: 0 0 0 20px;
    }
}

@media(max-width:880px){

    .historia-container{
        grid-template-columns: 1fr;
        margin: auto;
        text-align: center;
    }

    .historia-container img{
        max-width: 300px;
        margin: 40px auto;
    }

    .historia-container p{
        max-width: 300px;
        padding: 0 3px 0 0;
    }

}

/* serviço */

.servico{
    background-color: var(--bady-bg-sec);
    margin: 60px auto;
    padding: 0 0 40px 0;
}

.servico-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.servico-container h1{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.75em;
    padding: 60px 0 10px 0;
    text-transform: uppercase;
    color: var(--link-color);
}

.servico-container p{
    grid-column: 1 / -1;
    text-align: center;
    color: #bfa640;
    font-size: 1.25em;
}

.tabela{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    background-color: var(--body-gb);
    border-radius: 6px;
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.308);
}

.tabela1{
    padding: 40px;
}

.tabela1 p{
    padding: 10px 60px;
}

.tabela1 strong{
    color: var(--body-color-p);
}

@media(max-width:1150px){
    .servico-container{
        max-width: 960px;
    }

    .tabela1 p{
        padding: 10px 0;
    }
}

@media(max-width:880px){

    .servico{
        width: 102%;
    }
    
    .servico-container{
        grid-template-columns: 1fr;
    }

    .servico-container p{
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    .tabela{
        display: inline;
        
    }

    .tabela1{
        padding: 0 20px;
       
    }

    .tabela1 p{
        font-size: 1.0em;
        padding: 20px 0;
    }
    
}

/* agendameto */

.agendamento{
    max-width: 1100px;
    margin: auto;
}

.agendamento-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.agendamento-container iframe{
    padding: 40px 60px 60px 0;
}

.agendamento-item{
    padding: 40px 0;
}

.agendamento-item h1{
    font-size: 2.40em;
    text-transform: uppercase;
    color: var(--link-color);
}

.agendamento-item p{
    font-size: 1.25em;
    padding: 20px 0 80px 0;
    color: #bfa640;
}

.agendamento-item a{
    font-size: 1.55em;
    padding: 20px 85px;
    background: rgb(187, 216, 136);
    text-transform: uppercase;
    color: #fff;
    transition: .3s;
}

.agendamento-item a:hover{
    background: rgba(202, 223, 166, 1);
}

.fab{
    padding: 0 10px 0 0;
}

@media(max-width:1150px){
    .agendamento{
        max-width: 960px;
    }
    
    .agendamento-item a{
        padding: 20px 15px;
    }
}

@media(max-width:880px){

    .agendamento{
        max-width: 600px;
        margin: auto;
        text-align: center;
    }

    .agendamento-container{ 
        display: block;
        grid-template-columns: 1fr;
    }

    .agendamento-container iframe{
        max-width: 300px;
        padding:0;
        margin: auto;
    }

    .agendamento-item{
        padding: 40px 0;
    }

    .agendamento-item h1{
        font-size: 2em;
        color: var(--link-color);
    }

    .agendamento-item p{
        font-size: 1.10em;
        max-width: 300px;
        margin: auto;
    }

    .agendamento-item a{
        padding: 15px 20px;
        font-size: 1.25em;
    }
    
}







/* footer */

.footer{
    margin: 60px 0 0 0 ;
    background: #ebebeb;
    color: #bfa640;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1200px;
}

.footer-container img{
    grid-column: 1 / -1;
    margin: auto;
    max-width: 160px;
    padding: 60px 0 40px 0;
}

.footer-item{
    margin: 40px auto;
    text-align: center;
}

.footer-item h1{
    font-size: 2.45em;
    padding: 0 0 20px 0;
    color: var(--body-color-footer);
    text-transform: uppercase;
}

.footer-item p,a{
    color: black;
    font-size: 1.25em;
    padding: 0 0 40px 0;
}

.footer-social{
    margin: 40px auto;
    text-align: center;
}

.footer-social h1{
    font-size: 2.45em;
    padding: 0 0 20px 0;
    color: var(--body-color-footer);
    text-transform: uppercase;
}

.footer-social li{
    display: inline-block;
}

.criador::before{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
}

.criador{
    display: grid;
    background: #000000;
    color: var(--body-color-footer);
}

.criador p{
    grid-column: 1 / -1;
    margin: auto;
    padding: 40px 0;
}

.criador strong{
    color: #bfa640;
}

@media(max-width:1150px){
    .footer-container{
        max-width: 960px;
    }
}

@media(max-width:880px){

    .footer{
        width: 103%;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }

    .criador{
        width: 103%;
    }
}

.fa-facebook{
    background: url(img/faceicone.jpg) no-repeat center;
}
.fa-instagram{
    background: url(img/instaicone.jpg) no-repeat center;
}
.fa-whatsapp{
    background: url(img/wppicone.jpg) no-repeat center;
}














