/* ===== GERAL ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* 1rem = 10px, Com isso pode usar REM à vontade */

    --primary-blue: hsl(218, 13%, 12%);
    --primary-brown: hsl(35, 50%, 59%);
    --luminous-white: hsl(0, 0%, 100%);

    --brown-hover: hsl(35, 35%, 49%);

    --nav-height: 7.2rem;
}

html{
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

section{
    padding-block: 10rem;
}

section h1{
    color: var(--luminous-white);
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;  
    text-align: left;
}

section h3{
    color: var(--luminous-white);
    font-size: 2rem;
    font-weight: 200;
    text-align: left;
}

/* ===== Navbar ===== */

nav{
    display: flex;
    height: (--nav-height);
    top: 0;
    width: 100vw;

    position: fixed;
    background: none;
}

.logo img{
    width: 10rem;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
    background: var(--primary-brown);
    border: 0.1rem solid var(--primary-blue);
    cursor: pointer;
}

nav button:hover{
    background: var(--brown-hover);
    filter: brightness(1.3);
}

nav .menu a{ 
    color: var(--luminous-white);
    text-transform: uppercase;
    font-weight: 600 lighter;
}

nav .menu,
nav .close-menu{
    position: fixed;
}

/* ===== Menu-expandido ===== */

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: visible;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}
  
body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}
  
.menu {
    transform: translateY(-100%);
}
 
body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-blue);
  
    width: 100vw;
    height: 35rem;
  
    padding-top: var(--nav-height);
  
    transition: transform 500ms;
    transform: translateY(0);
}
  
.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
  
   margin-top: 1rem;
  
    font-size: 1.7rem;
    line-height: 3rem;
}

.menu ul li .special-option{
    color: var(--primary-blue);
    font-weight: 700;
}

.menu ul li:nth-child(5){
    padding: 0.8rem;
    background: var(--primary-brown);
}

.menu ul li:nth-child(5):hover{
    background: var(--brown-hover);
    filter: brightness(1.3);
}
  
body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}
  
body.menu-expanded button path {
    stroke: var(--primary-blue);
}

/* ===== Home (Seção 1) ===== */

#home{
    padding-block: 0;
}

#home::before{
    content: '';
    background: #ffffff url("/barber-shop/assets/img/background-mobile.jpg") no-repeat center;
    background-size: cover; 

    width: 100%;
    height: calc(80% + var(--nav-height));
    display: block;
  
    position: absolute;
    top: 0;
    z-index: -1;
}

#home .col-a{
    margin-block: calc(var(--nav-height) + 5rem);
}

#home h3{
    margin: 2rem 0 5rem 0;
}

#home a{
    background-color: var(--primary-brown);
    color: var(--primary-blue);
    border: 0.1rem solid var(--primary-blue);

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    
    margin-inline: auto;
    padding: 1.6rem 3.2rem;
}

#home a:hover{
    background-color: var(--brown-hover);
    filter: brightness(1.3);
}

/* ===== Home (Seção 2) ===== */
#concept h1{
    color: var(--primary-blue);
    margin-block: 3rem;
}

#concept h3{
    color: var(--primary-brown);

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    border-bottom: 0.1px solid rgb(219, 219, 219);
}

#concept .content p{
    color: black;
    text-align: left;
    line-height: 160%;
}

#concept .content img{
    border-radius: 1.5rem;
    margin-top: 6rem;
}

/* ===== Equipe (Seção 3) ===== */
