/* ===== GERAL ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* 1rem = 10px, Com isso pode usar REM à vontade */

    --primary-black: hsl(0, 0%, 0%);
    --primary-red: hsl(0, 93%, 42%);

    --nav-height: 7.2rem;
}

html{
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

section{
    padding-block: 10rem;
}

/* ===== Navbar ===== */

nav{
    display: flex;
    width: 100vw;
    height: (--nav-height);

    top: 0;
    z-index: 100;
    position: fixed;

    background: var(--primary-black);
}

.logo img{
    width: 10rem;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
    background: var(--primary-red);
    border: none;
    cursor: pointer;
}

nav .menu a{ 
    color: white;
    text-transform: uppercase;
    font-weight: 600 lighter;
}

nav .menu,
nav .close-menu{
    position: fixed;
}

/* ===== Menu-expandido ===== */

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}
  
body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}
  
.menu {
    transform: translateY(-100%);
}
 
body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-black);
  
    width: 100vw;
    height: 65vh;
  
    padding-top: var(--nav-height);
  
    transition: transform 500ms;
    transform: translateY(0);
}
  
.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
  
    margin-top: 1rem;
  
    font-size: 1.7rem;
    line-height: 3rem;
}

.menu ul li a {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
}

.menu ul li a:hover {
    border-color: var(--primary-red);
}

/* .menu .button { 
    border-bottom: 1px solid var(--primary-red);
    font-size: 2rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
  
    color: var(--primary-color);
  
    display: inline-block;
    padding: 16px 32px;
  
    margin-bottom: 8rem;
} */
  
/* .menu .button:hover {
    background-color: var(--primary-color);
    color: white;
  
    filter: brightness(1.3);
} */
  
body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}
  
body.menu-expanded button path {
    fill: white;
}

body.menu-expanded button path {
    stroke: white;
}





